---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Luis Esteban López Acuña - Portfolio Home"
  description="Home Page"
>
  <main class="bg-secondary">
    <section class="about">
      <div
        class="min-h-[70vh] flex flex-col items-center justify-center px-4 bg-secondary"
      >
        <h1 class="text-h1-md md:text-h3 font-bold text-primary mb-6">
          <p>
            As a Software Engineer, I drive large-scale projects that create
            seamless, user-friendly experiences for millions worldwide. I’ve
            been coding long enough to have started with C++, but I’ve kept up
            with the times—now working with HTML5, Node.js, and a broad range of
            modern web technologies. And yes, I stay updated on AI, but no, it
            won’t take our jobs.
          </p>
        </h1>
      </div>
    </section>
  </main>
</Layout>
