---
import "./global.css";
import { PreviewPng } from "@static/images";
import MetaConfig from "./MetaConfig.astro";

type Props = {
  title: string;
  description: string;
  overwritePreview?: string;
};

const { title, description, overwritePreview } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <MetaConfig
      title={title}
      description={description}
      preview={overwritePreview ? overwritePreview : PreviewPng.src}
    />
  </head>
  <body class="bg-secondary">
    <header class="bg-gray-800 p-4"></header>
    <nav class="container mx-auto">
      <ul class="flex space-x-4 text-primary">
        <li><a href="/" class="hover:text-gray-400">Home</a></li>
        <li>
          <a href="/about" class="hover:text-gray-400">About</a>
        </li>
        <li>
          <a href="/projects-and-publications" class="hover:text-gray-400"
            >Projects and Publications</a
          >
        </li>
        <li>
          <a href="/contact" class="hover:text-gray-400">Contact</a>
        </li>
      </ul>
    </nav>

    <slot />

    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
